
<table border="0"  cellpadding="4" cellspacing="1">

	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">testGetAllJadwal</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
        <tr>
                <td></td>
                <td></td>
        </tr>
 
        <br>
 

</table>
<table border="0"  cellpadding="4" cellspacing="1">

	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">testGetJadwalByUserName</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
        <tr>
                <td></td>
                <td></td>
        </tr>
 
        <br>
 

</table>
<table border="0"  cellpadding="4" cellspacing="1">

	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">testGetNamaHari</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
        <tr>
                <td></td>
                <td></td>
        </tr>
 
        <br>
 

</table>
<table border="0"  cellpadding="4" cellspacing="1">

	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">testGetNamaBulan</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
        <tr>
                <td></td>
                <td></td>
        </tr>
 
        <br>
 

</table>
<table border="0"  cellpadding="4" cellspacing="1">

	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">testKolomKeHari</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Integer</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Integer</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
        <tr>
                <td></td>
                <td></td>
        </tr>
 
        <br>
 

</table>
<table border="0"  cellpadding="4" cellspacing="1">

	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">testHariKeKolom</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">String</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">String</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
        <tr>
                <td></td>
                <td></td>
        </tr>
 
        <br>
 

</table>
<table border="0"  cellpadding="4" cellspacing="1">

	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">testCekJadwalByJamMulai</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
        <tr>
                <td></td>
                <td></td>
        </tr>
 
        <br>
 

</table>
<table border="0"  cellpadding="4" cellspacing="1">

	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">testAddJadwal</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Integer</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Integer</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
        <tr>
                <td></td>
                <td></td>
        </tr>
 
        <br>
 

</table>
<table border="0"  cellpadding="4" cellspacing="1">

	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">testUpdateJadwal</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">String</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">String</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
        <tr>
                <td></td>
                <td></td>
        </tr>
 
        <br>
 

</table>