
        <table border="0"  cellpadding="4" cellspacing="1">
        
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">testRequestBy</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
                <tr>
                        <td>{item}</td>
                        <td>{result}</td>
                </tr>
         {/rows}
                <br>
         
        
        </table>
        <table border="0"  cellpadding="4" cellspacing="1">
        
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">testRequestByID</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Object</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Object</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
                <tr>
                        <td>{item}</td>
                        <td>{result}</td>
                </tr>
         {/rows}
                <br>
         
        
        </table>