language: php
php:
  - '7.1'
services: mysql

before_script:
  - cp www/application/config/auth-dev.php www/application/config/auth.php
  -  cp www/application/config/database-dev.php www/application/config/database.php
  - mysql -e 'CREATE DATABASE bluetape;'
  - mysql -e 'CREATE USER "travis'@'localhost";'
  - mysql -e 'GRANT ALL PRIVILEGES ON * . * TO "travis'@'localhost";'
  
  - mysql -e 'FLUSH PRIVILEGES;'


script:
  - php www/index.php migrate
  - php www/index.php tests TestLibrary
